[Unit]
Description = Run inotifywait in backgoround

[Service]
User=root
Group=root
ExecStart=/bin/bash /1G-Ray-of-Light/Recycling-LXC-Version/taillogins1
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
