[Unit]
Description = Run inotifywait in background for container3

[Service]
User=root
Group=root
ExecStart=/bin/bash /1G-Ray-of-Light/Recycling-LXC-Version/taillogins3
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
